@charset "UTF-8";

body,div{
  margin: 0px;
}
.float{
  float: left;
}

.clearfix::before,
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.deepbluebox{
  width: 400px;
  height: 100px;
  background: #141f40;
}

.skybluebox{
  width: 150px;
  height: 250px;
  background: #80bfa8;
}

.redbox{
  width: 250px;
  height: 250px;
  background: #8c2727;
}
.orangebox{
  width: 400px;
  height: 100px;
  background: #d98d30;
}
